{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wallets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.balance }}</td>
                <td>
                    <a href="{{ path('wallet_edit', { 'id': wallet.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wallet_new') }}">Create a new wallet</a>
        </li>
    </ul>
{% endblock %}
