{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paymentcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentCategory in paymentCategories %}
            <tr>
                <td><a href="{{ path('payment_category_show', { 'id': paymentCategory.id }) }}">{{ paymentCategory.id }}</a></td>
                <td>{{ paymentCategory.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('payment_category_show', { 'id': paymentCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('payment_category_edit', { 'id': paymentCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_category_new') }}">Create a new paymentCategory</a>
        </li>
    </ul>
{% endblock %}
